<h1>Veiculos</h1>
<%= link_to "Carros", cars_path %>
<%= link_to "Motocicletas", motorcycles_path %>

<% @vehicles.each do |vehicle| %>
  <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <p><strong>Tipo:</strong> <%= vehicle.type %></p>
    <p><strong>Marca:</strong> <%= vehicle.brand %></p>
    <p><strong>Modelo:</strong> <%= vehicle.model %></p>
    <p><strong>Ano:</strong> <%= vehicle.year %></p>
    <p><strong>Valor:</strong> R$ <%= number_to_currency(vehicle.price, unit: "", separator: ",", delimiter: ".") %></p>
    <p><strong>Cor:</strong> <%= vehicle.color %></p>
  </div>
<% end %>
<%= paginate @vehicles %>