<p style="color: green"><%= notice %></p>

<% content_for :title, "Carros" %>
<%= link_to "Voltar aos Veiculos", vehicles_path %>


  


<%= search_form_for @q do |f| %>

  <div>
    <%= f.label :brand_cont, "Marca contém" %>
    <%= f.search_field :brand_cont %>
  </div>

  <div>
    <%= f.label :model_cont, "Modelo contém" %>
    <%= f.search_field :model_cont %>
  </div>

  <div>
    <%= f.label :year_eq, "Ano exato" %>
    <%= f.number_field :year_eq %>
  </div>

  <div>
    <%= f.submit "Buscar" %>
  </div>

<% end %>


  <div>

      <%= sort_link(@q, :brand, "Ordenar por Marca") %>
      <%= sort_link(@q, :price, "Ordenar por Preço") %>

  </div>


<h1>Carros</h1>
<%= link_to "Novo Carro", new_car_path %>
<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Detalhe", car %>
    </p>
  <% end %>
</div>
<%= paginate @cars %>

