<div class="bg-white p-6 rounded-xl shadow-md hover:shadow-lg transition">

  <h3 class="text-lg font-semibold">
    <%= motorcycle.brand %> - <%= motorcycle.model %>
  </h3>

  <p class="text-gray-600">Ano: <%= motorcycle.year %></p>
  <p class="text-gray-600">Cor: <%= motorcycle.color %></p>

  <p class="text-xl font-bold text-green-600 mt-3">
    R$ <%= number_to_currency(motorcycle.price, unit: "", separator: ",", delimiter: ".") %>
  </p>

  <div class="mt-4 flex space-x-2">
    <%= link_to "Ver", motorcycle_path(motorcycle),
        class: "bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm" %>

    <%= link_to "Editar", edit_motorcycle_path(motorcycle),
         class: "bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm" %>

    <%= link_to "Excluir", motorcycle_path(motorcycle),
        data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" },
        class: "bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm" %>
  </div>

</div>